@font-face {
  font-family: "Gilroy-Bold";
  src: url("font/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("font/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("font/Gilroy-SemiBold.ttf");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Medium", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  color: #141414;
  line-height: 1.5;
  background-color: #ffffff;
  /* overflow: hidden; */
}

/* -------------Utility------------- */
.container {
  width: 85%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}

span {
  color: #0065fe;
}

.bottom {
  margin-bottom: 8em;
}
.top {
  margin-top: 2em;
}
.gradient {
  width: 5px;
  height: 2.5em;
  background: linear-gradient(
    to bottom,
    rgba(17, 34, 50, 1),
    rgba(77, 107, 136, 0)
  );
  margin-top: 0.7rem;
}

/* --------------------Button------ */
button {
  all: unset;
}

.btn {
  background: #0065fe;
  border-radius: 100px;
  font-size: 1rem;
  padding: 0.5em 2em;
  color: #ffffff;
  border: none;
  font-family: "Gilroy-SemiBold", sans-serif;
  transition: all 0.5s ease-in;
  display: inline-block;
  cursor: pointer;
}

/* -------------Header------------- */
header {
  /* background: rgb(234,200,31);
  background: linear-gradient(90deg, rgba(234,200,31,1) 3%, rgba(6,120,8,1) 40%, rgba(214,5,5,1) 98%); */
  background: rgb(214, 5, 5);
  background: linear-gradient(
    90deg,
    rgba(214, 5, 5, 1) 0%,
    rgba(6, 120, 8, 1) 35%,
    rgba(234, 200, 31, 1) 100%
  );
}

.header-wrapper {
  background: white;
  padding-top: 0.7em;
  opacity: 0.95;
}

nav {
  gap: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}
a {
  text-decoration: none;
  color: #141414;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

/* -------------Hero------------- */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  margin-top: 2em;
}
.hero-content {
  text-align: center;
  margin-bottom: 2em;
}
.hero-title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 2.7rem;
  line-height: 2;
}
.line-url {
  position: relative;
}
.line {
  display: inline-block;
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-60%);
}
.hero-p {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 1rem;
  margin-top: 1.5em;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em 1em;
}
.hero-btn {
  padding: 0.5em 2em;
}

.chain {
  position: relative;
  border-radius: 24px;
  margin-bottom: 4rem;
  width: 100%;
  padding: 2.5rem 3.75rem;
}
.chain-content {
  padding: 2.5rem 3.75rem;
  background: rgba(254, 254, 254, 0.1);
  border: 0.5px solid #005ae2;
  backdrop-filter: blur(106px);
  border-radius: 24px;
}
.chain img {
  max-width: 400px;
}

.chain-bg {
  position: absolute;
  top: 1em;
  z-index: -100;
}
.chain p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* -------------Features------------- */
.featuress {
  background: #f9fbfd;
}
.features-content {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.stats-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}
.stat {
  width: 100%;
}

.features-description,
.features-heading {
  width: 35%;
}

.feature-sub {
  display: flex;
  justify-content: space-between;
}
.features-description {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}
.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 60%;
}
.feature iconify-icon {
  background: rgba(50, 132, 255, 0.13);
  font-size: 1.75rem;
  border-radius: 50%;
  padding: 0.4em;
}
.features h3 {
  font-size: 2.3rem;
  font-family: "Gilroy-Bold", sans-serif;
}
.features h4 {
  font-size: 2rem;
  font-family: "Gilroy-SemiBold", sans-serif;
}

.features p {
  font-size: 1rem;
  font-family: "Gilroy-Medium", sans-serif;
}

/*-------------Pricing------------- */

.pricing-description {
  display: flex;
  width: 60%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 5px;
  text-align: center;
}
.pricing-description > .gradent {
  margin-left: 10em;
}
.pricing-heading {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.pricing-heading p {
  text-align: center;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}

.card-container {
  margin: 0 auto;
  margin-top: 6em;
  display: flex;
  margin-top: 8em;
}

.card {
  overflow: hidden;
  border: 0.4px solid #005ae2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}
.professional {
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
  color: white;
  scale: 1.2;
  padding-bottom: 6em;
}
.card-header {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.card-description {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-features {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-features li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 10px;
}

.check-icon {
  width: 20px;
  margin-right: 10px;
  color: #005ae2;
}
.hamburger {
  display: none;
}
.pricing-btn-wrapper {
  width: 80%;
  margin: 0 auto;
}
.white {
  background-color: #ffffff;
  color: #0065fe;
  border: 2px solid #0065fe;
}
.blue {
  padding: 1.2em 4em;
}
/*-------------Modal------------- */
.modal-container {
  position: relative;
  background-color: #1e3448;
  background-image: url("./images/form-left-bg.svg"),
    url("./images/form-right-bg.svg");
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Gilroy-SemiBold", sans-serif;
  padding: 6em 0;
  margin-top: 6em;
}
form {
  max-width: 476px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  gap: 24px;
}
input,
select,
.form-btn {
  width: 100%;
  border: 1px solid #3284ff;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.125em 1.25em;
  color: #3284ff;
}
input::placeholder {
  color: #3284ff;
}
.form-btn {
  border-radius: 100px;
  width: 90%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.domain {
  width: 100%;
  gap: 1em;
}

form p {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 0.875rem;
  color: #4991ff;
}
form span {
  font-family: "Gilroy-Bold", sans-serif;
}

/*-------------FAQs------------- */
.faqs {
  background-image: url("./images/faq-left-bg.svg"),
    url("./images/faq-right-bg.svg");
  background-position: top left, right bottom;
  background-repeat: no-repeat, no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faqs-header {
  font-family: "Gilroy-Bold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.faqs-header h1 {
  font-size: 2.5rem;
}
.faq {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4em;
}
.faq-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  font-size: 1.125rem;
  font-family: "Gilroy-Medium", sans-serif;
}
.answer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.faq-item p {
  font-size: 1rem;
}
.faqs iconify-icon {
  font-size: 1.5rem;
}

/*-- ---------- Optimization ----------*/
.description {
  background-color: #1e3448;
    background-image: url('./images/optimize-left-bg.svg'),
      url('./images/optimize-right-bg.svg');
    background-position: top left, right bottom;
    background-repeat: no-repeat, no-repeat;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-family: "Gilroy-Bold", sans-serif;
  
  padding: 3em;
}
.description h1 {
  font-size: 2.5rem;
}
.content {
  text-align: center;
  font-size: 2.5rem;
}
.optimize-btn {
  border-radius: 100px;
  overflow: hidden;
  padding: 1em 4em;
  font-size: 1rem;
  font-family: "Gilroy-SemiBold", sans;
}

/*-------------Footer------------- */
.footer {
    background-image: url('./images/footer-left-bg.svg'),
      url('./images/footer-right-bg.svg');
    background-position: bottom left, right bottom;
    background-repeat: no-repeat, no-repeat;
  }

.footer-center {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  gap: 2em;
}

footer h3 {
  font-size: 1rem;
  font-family: "Gilroy-Bold", sans-serif;
  margin-bottom: 0.5em;
}
footer li {
  font-size: 1rem;
  font-family: "Gilroy-Medium" sans-serif;
}
/* .footer img {
  display: block;
} */

.socials {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.footer-text {
  margin-top: 4rem;
  text-align: right;
  font-size: 14px;
}


@media (max-width: 1100px) {
  .card-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 80%;
    margin: 0 auto;
    padding: 6em;
  }
  .footer-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 70%;
  }
}
@media (max-width: 900px) {
  .hamburger {
    display: initial;
    font-size: 3rem;
  }
  nav {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .features-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stats-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .features-heading,
  .features-description {
    width: 100%;
    text-align: center;
  }

  .feature-sub {
    flex-direction: column;
    justify-content: space-between;
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5em;
    width: 100%;
    margin-top: 3em;
  }
  .features-description-p {
    margin: 1.5em 0;
  }
  .btn-container {
    flex-direction: column;
    gap: 1em;
  }
  .footer-center {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 60%;
  }
}
